In [1]:
import pandas as pd

In [2]:
cashier=pd.read_excel('出纳账.xls')
index_name=cashier.iloc[6]
cashier=cashier.rename(columns=index_name)
cashier=cashier[7:]
cashier=cashier.iloc[:,[0,4,10,11]].rename(columns={'资金帐户':'账号','单据日期':'交易日期','本币':'借方','支出':'贷方'})
cashier=cashier[~ cashier['账号'].str.contains("小计|累计|单位|NaN",na=False)]
cashier=cashier[:-1]
#cashier.set_index(['账号','交易日期'],inplace=True)
debit_cashier=cashier[['账号','交易日期','借方']].dropna().reset_index(drop=True)
#debit_cashier=cashier['借方'].dropna()
debit_cashier.drop([4],inplace=True)
#debit_cashier.reset_index(drop=True,inplace=True)
debit_cashier

                   账号        交易日期           借方
0  901011010000393820  2020-02-28    140000000
1  471100100100061717  2020-02-03      30326.8
2  471100100100061717  2020-02-03      7500000
3  471100100100061717  2020-02-03     91800000
5  471100100100061717  2020-02-14    289000000
6  471100100100061717  2020-02-19  2.00741e+07
7  471100100100061717  2020-02-19  4.01706e+07
8  471100100100061717  2020-02-28  9.05385e+07

In [6]:
debit_cashier.iloc[0][2]

140000000

In [3]:
len(debit_cashier)

9

In [13]:
fd_yh=pd.read_excel('C:\\Users\\46520\\code\\python\\3、Recognition\\银行流水\\富滇银行营业部3820.xls',usecols=['账号','交易日期','转入金额','转出金额'])
fd_yh=fd_yh.rename(columns={'转入金额':'借方','转出金额':'贷方'})
#fd_yh['账号']=fd_yh['账号'].astype(str)
js=pd.read_excel('C:\\Users\\46520\\code\\python\\3、Recognition\\银行流水\\建设银行城北支行9780 2月流水.xls')
js=js.rename(columns={'借方发生额（支取）':'借方','贷方发生额（收入）':'贷方','交易时间':'交易日期'})
js=js[~ js['摘要'].str.contains('资金归集',na=False)]
js=js.iloc[:,[0,2,3,4]]
if js.size!=0:
    js['交易日期']=js['交易日期'].str.split(expand = True)

xm=pd.read_excel('C:\\Users\\46520\\code\\python\\3、Recognition\\银行流水\\厦门国际银行4186.xls',usecols=['账户账号','交易日期','转出','转入'])
xm=xm.rename(columns={'转入':'借方','转出':'贷方','账户账号':'账号'})
xm['交易日期']=xm['交易日期'].str.split(expand = True)
#xm['账号']=xm['账号'].astype(str)

xy=pd.read_excel('C:\\Users\\46520\\code\\python\\3、Recognition\\银行流水\\兴业1717.xls',usecols=['账号','交易日期','借方金额','贷方金额'])
xy=xy.rename(columns={'借方金额':'借方','贷方金额':'贷方'})
xy['交易日期']=xy['交易日期'].str.split(expand = True)


banks_data=pd.concat([js,fd_yh,xm,xy])
banks_data['账号']=banks_data['账号'].astype(str)
banks_data['交易日期']=banks_data['交易日期'].replace('-','')
debit_banks=banks_data[['账号','交易日期','借方']].dropna()
#banks_data.set_index(['账号','交易日期'],inplace=True)
debit_banks=banks_data['借方'].dropna()
debit_banks=debit_banks[(debit_banks['借方']>0.001)].reset_index(drop=True)
debit_banks
#banks_data

KeyError: '借方'

In [10]:
banks_data[banks_data['贷方']>0]

                    账号        交易日期   借方            贷方
0     8006100000004186  2020-02-27  NaN  8.000000e+06
1     8006100000004186  2020-02-26  NaN  2.000000e+02
2     8006100000004186  2020-02-13  NaN  4.000000e+07
3     8006100000004186  2020-02-13  NaN  5.000000e+07
2   471100100100061717  2020-02-03  0.0  7.500000e+06
3   471100100100061717  2020-02-03  0.0  9.180000e+07
4   471100100100061717  2020-02-03  0.0  3.032681e+04
7   471100100100061717  2020-02-13  0.0  6.000000e+07
8   471100100100061717  2020-02-13  0.0  4.010941e+05
9   471100100100061717  2020-02-14  0.0  2.890000e+08
10  471100100100061717  2020-02-14  0.0  3.107001e+07
19  471100100100061717  2020-02-19  0.0  2.007412e+07
20  471100100100061717  2020-02-19  0.0  4.017059e+07
23  471100100100061717  2020-02-28  0.0  5.033803e+07
24  471100100100061717  2020-02-28  0.0  9.053846e+07
29  471100100100061717  2020-03-03  0.0  3.700000e+07

In [69]:
d=banks_data['交易日期']
d.head()

0      20200214
0    2020-02-28
0    2020-02-27
1    2020-02-26
2    2020-02-13
Name: 交易日期, dtype: object

In [70]:
d=d.str.replace('-','')
d.head()

0    20200214
0    20200228
0    20200227
1    20200226
2    20200213
Name: 交易日期, dtype: object

In [29]:
debit_cashier.iloc[0][0]

'901011010000393820'

In [35]:
panduan=(debit_cashier.iloc[0]==debit_banks.iloc[1])
if panduan.all():
    print(1)

1

In [31]:
l=len(debit_banks)
l
j=len(debit_cashier)

In [32]:
for i in range(l):#按会计账的数据遍历出纳账的数据
        m=len(ca_data)
        for j in range(m):
            if abs(float(ac_data['数据'].loc[i])-float(ca_data['数据'].loc[j]))<(1e-5):#删除数据后隐式索引重新排列，但显示索引仍保留原来的，所以需用显示索引          
                ac_data.drop([i],inplace=True)#inplace在原数据上删除某行，会改变原数据
                ca_data.drop([j],inplace=True)#drop函数不会删除原显示索引
                ca_data.reset_index(drop=True,inplace=True)
                break

NameError: name 'ca_data' is not defined

22

In [48]:
d='2020-3-20'
d

'2020-3-20'

In [49]:
d=d.replace('-','')
d

'2020320'